@import "variables";

.announcement {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $siteColor;
    //height: 45px;
    flex-direction: column;
    padding: 15px 55px;
    padding-top: 20px;
    @media (min-width: 850px) {
        flex-direction: row;
        padding: 10px 30px;
    }
    span {
        font-size: 0.6rem;
        color: rgba( #fff, 0.9);
        justify-self: center;
    }
    button {
        color: #fff;
        background-color: transparent;
        border-radius: 3px;
        line-height: unset;
        padding: 2px 9px;
        margin-top: 7px;
        justify-self: center;
        transition: 250ms ease-in-out;
        height: 1.2rem;
        margin-left: 10px;
        border: unset;
        font-size: 0.6rem;
        font-weight: bold;
        align-self: flex-end;
        border: 1px solid:
        @media (min-width: 850px) {
            margin-top: unset;
        }
        &:hover {
            background-color: darken($siteColor, 7%);
            color: #fff;
            cursor: pointer;
        }
        &:focus, &:active {
            opacity: 0.8;
            outline: 0;
        }
    }
}
