.wrapper {
    display: block;
    height: 100%;
    background-color: #f4f4f4;
    @media (min-width: 850px) {
        display: flex;
        flex-direction: column;
    }
    .titleBar {
        border-bottom: 1px solid #e5e5e5;
        background: rgba(255,255,255,0.6);
        display: flex;
        justify-content: center;
        padding: 10px 15px;
        .counter {
            margin-left: 10px;
            font-weight: 500;
            color: #444;
            display: -webkit-inline-box;
            span {
                background-color: #eeeeee;
                color: #5f6368;
                border-radius: 50%;
                width: 20px;
                height: 20px;
                line-height: 20px;
                text-align: center;
                font-size: 0.8em;
                margin-left: 6px;
                display: block;
            }
        }
    }
    .flexRow {
        display: block;
        @media (min-width: 850px) {
            display: flex;
        }
        .profile {
            display: flex;
            //background-color: #fff;
            flex: 1;
            flex-direction: column;
            .profileColumn {
                display: flex;
                flex-direction: row;
                justify-content: center;
                .profileRow {
                    display: flex;
                    flex-direction: column;
                    //padding: 20px 0px;
                    margin: 2rem 0;
                    box-shadow: 0 1px 2px rgba(0,0,0,0.07);
                    .profileSection {
                        border-bottom: 1px solid #eee;
                        background: #fff;
                        padding: 20px 30px;
                        .details {
                            display: flex;
                            flex-direction: column;
                            .name {
                                margin: unset;
                                font-size: 20px;
                                font-weight: bold;
                                letter-spacing: -.01em;
                                color: #444;
                                text-align: center;
                            }
                            .roles {
                                display: flex;
                                margin: 0.9rem 0;
                                .role {
                                    margin: unset;
                                    font-size: 0.7rem;
                                    margin-left: 0.6rem;
                                    background-color: #f4f4f4;
                                    border: 1px solid #e4e4e4;
                                    padding: 0.3rem 0.8rem;
                                    border-radius: 25px;
                                }
                            }
                            .follow {
                                display: -webkit-inline-box;
                                .btn {
                                    color: #339b78;
                                    background-color: #fff;
                                    padding: 6px 15px;
                                    font-size: 0.8em;
                                    text-align: center;
                                    margin: 0 auto;
                                    display: block;
                                    border-radius: 2px;
                                    border: 1px solid #339b78;
                                    transition: 250ms linear;
                                    &:hover, &:focus, &:active {
                                        outline: unset;
                                        background-color: #339b78;
                                        color: #fff;
                                    }
                                }
                            }
                            .tagsWrapper {
                                display: flex;
                                .themeDeveloper {
                                    background-color: #08aa81;
                                    padding: 5px 10px;
                                    color: #fff;
                                    border-radius: 2px;
                                }
                            }
                        }
                        .linksWrapper {
                            display: flex;
                            flex-direction: column;
                            .header {
                                color: #747474;
                                font-weight: bold;
                            }
                            .links {
                                display: flex;
                                flex-direction: column;
                                margin-top: 10px;
                                .link {
                                    display: -webkit-box;
                                    margin: 5px 0;
                                    font-size: 14px;
                                    svg {
                                        height: 1.4em;
                                        width: 1.4em;
                                        fill: #747474;
                                        margin-right: 5px;
                                    }
                                    p {
                                        color: #747474;
                                        margin: unset;
                                        line-height: 1.5rem;
                                        display: block;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .mainContainer {
            display: flex;
            flex: 2;
            flex-direction: column;
            padding: 0px 15px;
            @media (min-width: 850px) {
                padding: 20px 40px 0px 0px;
            }
            .showcaseContainer {
                padding: 20px 0px;
                display: block;
                justify-content: space-between;
                flex-wrap: wrap;
                @media (min-width: 850px) {
                    display: flex;
                }
                .cardContainer {
                    flex-basis: 31%;
                    margin-bottom: 20px;
                    &:hover {
                        .themeCard {
                            .header {
                                p {
                                    color: #000;
                                }
                            }
                        }
                    }
                    .themeCard {
                        background-color: #fff;
                        padding: 10px;
                        border-radius: 2px;
                        display: block;
                        box-shadow: 0 1px 2px rgba(0,0,0,0.07);
                        transition: 300ms linear;
                        &:hover {
                            box-shadow: 0 10px 70px rgba(0, 0, 0, 0.08);
                            .description {
                                opacity: 1;
                            }
                        }
                        .imgContainer {
                            padding-bottom: 56%;
                            height: unset;
                            position: relative;
                            img {
                                width: 100%;
                                height: 100%;
                                margin: unset;
                                display: -webkit-box;
                                border-radius: 2px;
                                background-size: cover;
                                position: absolute;
                                top: 0;
                                bottom: 0;
                                left: 0;
                                right: 0;
                            }
                        }
                        .description {
                            position: absolute;
                            color: #777;
                            background-color: rgba(#fff, 0.95);
                            height: 100%;
                            opacity: 0;
                            transition: 250ms linear;
                            padding: 0.5rem;
                            word-break: keep-all;
                        }
                        .header {
                            margin-top: 8px;
                            p {
                                margin: unset;
                                text-align: left;
                                font-size: 0.9rem;
                                color: rgba(#000, 0.5);
                                transition: 300ms linear;
                            }
                        }
                    }
                    .pluginCard {
                        background-color: #fff;
                        //padding: 10px;
                        border-radius: 2px;
                        display: flex;
                        flex-direction: column;
                        border-radius: 8px;
                        transition: 300ms linear;
                        box-shadow: 0 1px 2px rgba(0,0,0,0.07);
                        border: 1px solid transparent;
                        &:active, &:focus {
                            background-color: #d6d6d6;
                            outline: unset;
                            box-shadow: 0 10px 70px rgba(0, 0, 0, 0.08);
                            border-bottom-left-radius: 0px;
                        }
                        &:hover {
                            border-bottom-left-radius: 0px;
                            box-shadow: 0 10px 70px rgba(0, 0, 0, 0.08);
                            border-color: #eff2f6;
                        }
                        .header {
                            background-color: #262626;
                            color: #fff;
                            padding: 0.6rem 1rem;
                            border-top-left-radius: 8px;
                            border-top-right-radius: 8px;
                            text-align: left;
                            font-size: 0.9rem;
                        }
                        .description {
                            padding: 1rem;
                            color: rgba(#000,0.6);
                        }
                    }
                }
            }
        }
    }
}