@import "variables";

[class*="dark"], [id*="dark"] {
    .wrapper {
        .card {
            border-color: #171719;
            &[alt*="BandagedBD"] {
                border-color: $bandagedbd;
            }
            .header {
                svg {
                    path {
                        fill : #222327;
                    }
                }
            }
            .body {
                .features {
                    .feature {
                        &[disabled] {
                            color: rgba( #b6b6b6, 0.4);
                        }
                    }
                }
            }
            .footer {
                border-color: #171719;
            }
        }
    }
}
@keyframes slideTop {
    from {
        transform: translateY(-0.5em);
        opacity: 0;
    }
    to {
        transform: translateY(0em);
        opacity: 1;
    }
}