.featured {
    display: flex;
    flex-direction: column;
    padding: 1.85rem 1.5625rem;
    .header {
        font-size: 1.7rem;
        text-align: center;
        margin-bottom: 1.3rem;
        color: #454545;
        font-weight: bold;
    }
    .cardsContainer {
        display: block;
        justify-content: space-around;
        @media (min-width: 850px) {
            display: flex;
        }
        .card {
            display: block;
            padding: 0.62rem 0.82rem;
            background-color: #fff;
            border: 1px solid #eff2f6;
            -webkit-transition-duration: 800ms;
            -o-transition-duration: 800ms;
            transition-duration: 800ms;
            border-radius: 40px;
            border-bottom-left-radius: 0px;
            margin: 0 auto;
            margin-bottom: 35px;
            @media (min-width: 850px) {
                display: inline;
                flex-basis: 24%;
                margin: unset
            }
            &:hover {
                -webkit-box-shadow: 0 10px 90px rgba(0, 0, 0, 0.08);
                box-shadow: 0 10px 90px rgba(0, 0, 0, 0.08);
            }
            &:active, &:focus {
                background-color: #ccc;
                outline: unset;
            }
            .image {
                display: flex;
                justify-content: center;
                svg {
                    width: 3.37rem;
                    height: 3.37rem;
                    display: -webkit-box;
                    background-color: #e6e6e6;
                    border-radius: 50%;
                    padding: 3px;
                }
            }
            .title {
                color: #454545;
                font-weight: bold;
                padding-top: 0.7rem;
                text-align: center;
                font-size: 0.67rem;
            }
            .paragraph {
                padding-top: 4px;
                text-align: center;
                p {
                    margin: unset;
                    line-height: 1.6em;
                    font-size: 0.47rem;
                    color: #454545;
                }
            }
        }
    }
}