@import "variables";

html[class*="dark"], html[id*="dark"] {
    .footer {
        border-color: #222327;
        box-shadow: 0px 0px 40px 15px #222327;
        .background {
            .blob {
                fill: #fff;
            }
        }
        .container {
            .list {
                .item {
                    .h4 {
                        color: rgba(255, 255, 255, 0.8);
                    }
                }
                .itemLast {
                    .h4 {
                        color: rgba(255, 255, 255, 0.8);
                    }
                }
            }
        }
        a {
            color: #fff;
        }
    }
}