.tl-wrapper, [style*="transform: matrix(1, 0, 0, 1, 0, 0)"], .tl-wrapper[style*="transform: matrix(1, 0, 0, 1, 0, 0)"] {
    transform: unset !important;
}
@media (min-width: 850px) {
    [class^="header-module"] >.headroom-wrapper[style="height: 110px;"] {
        height: 109px !important;
    }
    [class^="header-module"] >.headroom-wrapper>.headroom--pinned >div:first-child, [class^="header-module"] >.headroom-wrapper>.headroom--unpinned >div:first-child {
        transform: translate3d(0px, -100%, 0px) !important;
        transition: all 150ms ease-in-out 0s;
    }
    [class^="header-module"] >.headroom-wrapper>.headroom--unfixed, [class^="header-module"] >.headroom-wrapper>.headroom--pinned >div:first-child {
        transition: all 150ms ease-in-out 0s;
    }
    [class^="header-module"] >.headroom-wrapper>.headroom--unfixed >div:first-child {
        transform: translate3d(0px, 0px, 0px) !important;
        /*transition: all 150ms ease-in-out 0s;*/
    }
    [class^="header-module"] >.headroom-wrapper>.headroom--pinned >nav, [class^="header-module"] >.headroom-wrapper>.headroom--unpinned >nav {
        transform: translate3d(0px, -144%, 0px);
        transition: all 150ms ease-in-out 0s;
    }
    [class^="header-module"] >.headroom-wrapper>.headroom {
        z-index: 100 !important;
    }
    [class^="header-module"] >.headroom-wrapper>.headroom--unpinned {
        transition: 0s !important;
    }
}