@import "variables";

html[class*="dark"], html[id*="dark"] {
    .tagsContainer {
        .tag {
            background-color: #44464b;
            border-color: #44464b;
            color: rgba(255, 255, 255, 0.85);
            div {
                background-color: $siteColor;
                color: #fff;
            }
            &.active {
                color: #fff;
                border: 1px solid rgba($siteColor, 0.1);
                outline: unset;
                background-color: darken($siteColor, 13%);
                box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 1px 0 0px rgba(0, 0, 0, 0.08);
            }
        }
    }
}