@import "variables";

html[class*="dark"], html[id*="dark"] {
    .pluginCard {
        background-color: #202225;
        border-color: #202225;
        box-shadow: 2px 2px 5px rgba(0,0,0,.1);
        &:hover {
            box-shadow: 2px 2px 5px rgba(0,0,0,.25);
            .imgContainer, .missingImgContainer {
                img {
                    //box-shadow: rgba($siteColor, 0.5) 0px 8px 20px;
                    transform: translateY(-3px);
                    -webkit-filter: drop-shadow(rgba($siteColor, 0.5) 0px 6px 8px);
                    filter: drop-shadow(rgba($siteColor, 0.5) 0px 8px 10px);
                }
            }
        }
        &:focus, &:active {
            border-color: $siteColor;
        }
        .imgContainer {
            img {
                -webkit-filter: drop-shadow(rgba(0, 0, 0, 0.22) 0px 5px 6px);
                filter: drop-shadow(rgba(0, 0, 0, 0.22) 0px 5px 6px);
            }
        }
        .missingImgContainer {
            img {
                -webkit-filter: drop-shadow(rgba(0, 0, 0, 0.22) 0px 5px 6px);
                filter: drop-shadow(rgba(0, 0, 0, 0.22) 0px 5px 6px);
            }
            .missingImg {
            }
        }
        .titleContainer {
            .title {
                color: rgba(0, 0, 0, 0.88);
                &::after {
                    height: 0;
                }
                &:hover {
                    color: #fff !important;
                    opacity: 1;
                    background-color: transparent;
                    &::after {
                        height: 110% !important;
                        width: 101%;
                    }
                }
            }
        }
        .authorDetails {
            .authorWrapper {
                .author {
                    color: rgba(255, 255, 255, 0.4) !important;
                    &::after {
                        height: 0 !important;
                    }
                    &:hover {
                        color: #fff !important;
                        opacity: 1;
                        background-color: transparent;
                        &::after {
                            height: 110% !important;
                            width: 110%;
                        }
                    }
                }
            }
            .softwaresWrapper {
                .softwareIcon {
                    &:hover {
                        opacity: 1;
                        &::before {
                            color: #fff !important;
                        }
                    }
                    &::before {
                        color: #fff !important;
                    }
                    &[alt="BandagedBD"] {
                        &::before {
                        }
                    }
                    &[alt="BetterDiscord"] {
                        &::before {
                            background-image: url("src/images/betterdiscord-white.png");
                        }
                    }
                    &[alt="PowerCord"] {
                        &::before {
                            
                        }
                    }
                }
            }
        }
        .description {
            padding: 15px;
            padding-top: 10px;
            .p {
                color: #b9bbbe;
                font-size: 0.6rem;
                margin: unset;
            }
        }
        .tagsContainer {
            .tag {
                color: rgba(255, 255, 255, 0.4) !important;
                &:hover {
                    color: #fff !important;
                    opacity: 1;
                }
            }
        }
    }
}