@import "variables";

[alt="Upload a Plugin"] {
    ~ .content {
        //max-height: calc(((((100vh - 2.8rem) - 2.5rem) - 2.45rem) - 1.05rem) - 2.8rem) !important;
        padding-bottom: unset !important;
        @media (min-width: 850px) {
            //max-height: calc(((((100vh - 1.4rem) - 2.5rem) - 2.45rem) - 1.05rem) - 2.8rem) !important;
        }
    }
}

html[class*="dark"], html[id*="dark"] {
    .pluginsPageContainer {
        background-color: #36393f;
        .contentWrapper {
            .dependency {
                background-color: #2f3136;
                border-bottom: 2px solid #222327;
                .Lh2 {
                    color: #fff;
                }
            }
            .content {
                color: #cfcfcf;
                pre {
                    padding: 1rem;
                    line-height: 0.8rem;
                    background-color: rgba(#000, 0.2);
                    code {
                        line-height: 0.8rem;
                        background-color: transparent;
                    }
                }
                code {
                    background-color: rgba(#000, 0.2);
                }
                a {
                    color: #fff !important;
                }
                .footer {
                    border-color: #222327;
                    .edit {
                        svg {
                            fill: #fff;
                        }
                    }
                }
                [class="anchor"] {
                    fill: #fff;
                }
            }
        }
    }
}