@import "variables";

[class*="dark"], [id*="dark"] {
    .softwareBar {
        background-color: #202225;
        box-shadow: 0 1px 0 rgba(0,0,0,.2), 0 2px 0 rgba(0,0,0,.06);
        border: unset;
        .tagsContainer {
            .tag {
                color: rgba(#fff, 0.8);
                border-color: #303030;
                &:hover {
                    background-color: #262626;
                }
                &.active {
                    background-color: $siteColor;
                    color: #fff;
                    &:hover {
                        background-color: $siteColor; 
                    }
                    &[alt*="BetterDiscord"] {
                        background-color: $betterdiscord;
                        div {
                            background-color: darken($betterdiscord, 7%);
                        }
                    }
                    &[alt*="PowerCord"] {
                        background-color: $powercord;
                        div {
                            background-color: darken($powercord, 7%);
                        }
                    }
                    &[alt*="BandagedBD"] {
                        background-color: $bandagedbd;
                        div {
                            background-color: darken($bandagedbd, 7%);
                        }
                    }
                    &[alt*="EnhancedDiscord"] {
                        background-color: $enhanceddiscord;
                        div {
                            background-color: darken($enhanceddiscord, 7%);
                        }
                    }
                    &[alt*="DiscordInjections"] {
                        background-color: $discordinjections;
                        div {
                            background-color: darken($discordinjections, 7%);
                        }
                    }
                }
            }
        }
    }
}