@import "variables";

html[class*="dark"], html[id*="dark"] {
    .pluginsContainer {
        background-color: #36393f;
        .contentWrapper {
            .softwareBar {
                background-color: #202225;
                box-shadow: 0 1px 0 rgba(0,0,0,.2), 0 2px 0 rgba(0,0,0,.06);
                border: unset;
                .input {
                    background: rgba(255, 255, 255, 0.1);
                    color: #eee;
                    &::placeholder {
                        color: rgba(255, 255, 255, 0.6);
                        font-size: 0.6;
                    }
                    &:hover {
                        background: rgba(255, 255, 255, 0.07);
                    }
                    &:active, &:focus {
                        background: rgba(255, 255, 255, 0.05);
                    }
                }
            }
            .hero {
                background-color: transparent;
                .heroTitle {
                    color: #fff;
                }
                .input {
                    background: rgba(255, 255, 255, 0.1);
                    color: #eee;
                    border-color: rgba(255, 255, 255, 0.1);
                    &::placeholder {
                        color: rgba(255, 255, 255, 0.6);
                        font-size: 0.6;
                    }
                    &:hover {
                        background: rgba(255, 255, 255, 0.07);
                    }
                    &:active, &:focus {
                        background: rgba(255, 255, 255, 0.05);
                    }
                }
            }
            .contentDetails {
                background-color: transparent;
                .contentHeader {
                    color: rgba(#fff, 0.9);
                }
            }
            .content {
                color: #cfcfcf;
                .cardsContainer {
                    background-color: #36393f;
                }
                a {
                    color: #fff !important;
                }
                .footer {
                    border-color: #222327;
                    .edit {
                        svg {
                            fill: #fff;
                        }
                    }
                }
                [class="anchor"] {
                    fill: #fff;
                }
            }
        }
    }
}