@import "variables";

html[class*="dark"], html[id*="dark"] {
    .pluginsContainer {
        background-color: #36393f;
        .contentWrapper {
            .softwareBar {
                background-color: #202225;
                box-shadow: 0 1px 0 rgba(0,0,0,.2), 0 2px 0 rgba(0,0,0,.06);
                border: unset;
                .input {
                    background: rgba(255, 255, 255, 0.1);
                    color: #eee;
                    &::placeholder {
                        color: rgba(255, 255, 255, 0.6);
                        font-size: 0.6;
                    }
                    &:hover {
                        background: rgba(255, 255, 255, 0.07);
                    }
                    &:active, &:focus {
                        background: rgba(255, 255, 255, 0.05);
                    }
                }
            }
            .hero {
                background-color: transparent;
                .heroTitle {
                    color: #fff;
                }
                .input {
                    background: rgba(255, 255, 255, 0.1);
                    color: #eee;
                    border-color: rgba(255, 255, 255, 0.1);
                    &::placeholder {
                        color: rgba(255, 255, 255, 0.6);
                        font-size: 0.6;
                    }
                    &:hover {
                        background: rgba(255, 255, 255, 0.07);
                    }
                    &:active, &:focus {
                        background: rgba(255, 255, 255, 0.05);
                    }
                }
            }
            .contentDetails {
                background-color: transparent;
                .contentHeader {
                    color: rgba(#fff, 0.9);
                }
            }
            .content {
                color: #cfcfcf;
                .cardsContainer {
                    background-color: #36393f;
                }
                a {
                    color: #fff !important;
                }
                .footer {
                    border-color: #222327;
                    .edit {
                        svg {
                            fill: #fff;
                        }
                    }
                }
                [class="anchor"] {
                    fill: #fff;
                }
            }
        }
    }
}

[class^="plugins-module"] >[class^="headroom-wrapper"]>[class*="headroom--pinned"] {
    top: 3rem !important;
}
[class^="plugins-module"] >[class^="headroom-wrapper"]>[class*="headroom"] {
    z-index: 5 !important;
    order: 1;
}
@media (min-width: 850px) {
    [class^="plugins-module"] >[class^="headroom-wrapper"] {
        display: contents;
        width: 100%;
    }
    [class^="plugins-module"] >[class^="headroom-wrapper"]>[class*="headroom--pinned"] {
        position: sticky !important;
        top: 0 !important;
        transform: unset !important;
    }
    [class^="plugins-module"] >[class^="headroom-wrapper"]>[class*="headroom--unpinned"] {
        position: sticky !important;
        top: 0 !important;
        transform: unset !important;
    }
    [class^="plugins-module"] >[class^="headroom-wrapper"]>[class*="headroom--unfixed"]{
        position: sticky !important;
        top: 3.04rem !important;
        transform: unset !important;
    }
}

.backButton {
    position: fixed;
    top: 22px;
    left: 17px;
    z-index: 100;
    display: block;
    @media (min-width: 850px) {
        display: none;
    }
    svg {
        height: 20px;
        width: 20px;
    }
}

.uploadContainer {
    display: inline;
    position: fixed;
    bottom: 52px;
    z-index: 100;
    color: #fff;
    font-size: 10px;
    width: 100%;
    pointer-events: none;
    @media (min-width: 850px) {
        display: none;
    }
    .uploadBtn {
        background-color: $siteColor;
        color: #ffffff;
        border-radius: 50%;
        width: 2em;
        height: 2em;
        line-height: 1.75em;
        text-align: center;
        font-size: 2.8em;
        display: block;
        margin: 0 auto;
        position: relative;
        top: 25px;
        border: 3.5px solid #0a0a0a;
        pointer-events: all;
    }
}

.helpContainer {
    position: fixed;
    right: 1rem;
    bottom: 2.5rem;
    z-index: 100;
    display: none;
    @media (min-width: 850px) {
        right: 1.5rem;
        bottom: 1rem;
        display: initial;
    }
    .btn {
        display: block;
        width: 2.5rem;
        height: 2.5rem;
        background-color: $siteColor;
        color: #fff;
        text-align: center;
        line-height: 2.5rem;
        border-radius: 50%;
        transition: all linear 250ms;
        box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.5), inset 0px 2px 3px -2px #ffffff;
        font-size: 1.3rem;
        &:hover {
            box-shadow: 0px 5px 9px 1px rgba(0, 0, 0, 0.4), inset 0px 2px 3px -2px #ffffff;
            background-color: darken($siteColor, 7%);
        }
    }
}