[class^="plugin-page-module"] >.headroom-wrapper {
    display: none;
}

@media (min-width: 850px) {
    [class^="plugins-module"] >.headroom-wrapper>.headroom--unfixed {
        position: fixed !important;
        top: unset !important;
    }
    [class^="plugins-module"] >.headroom-wrapper>.headroom--unpinned>[class^="plugin-sidebar-module--sidebarSearch"]>[class^="plugin-sidebar-module--Results"] {
        max-height: calc(((((100vh - -3.3rem) - 2.5rem) - 2.45rem) - 1.05rem) - 2.8rem) !important;
    }
    [class^="plugins-module"] >.headroom-wrapper>.headroom--pinned>[class^="plugin-sidebar-module--sidebarSearch"]>[class^="plugin-sidebar-module--Results"] {
        max-height: calc(((((100vh - -1.58rem) - 2.5rem) - 2.45rem) - 1.05rem) - 2.8rem) !important;
    }
    [class^="plugins-module"] >.headroom-wrapper>.headroom--pinned {
        top: 1.8rem !important;
    }
    [class^="plugins-module"] >.headroom-wrapper>.headroom--unpinned {
        top: 0 !important;
    }
}
@media (min-width: 850px) {
    [class^="plugin-page-module"] >.headroom-wrapper {
        display: initial;
    }
    [class^="plugin-page-module"] >.headroom-wrapper>.headroom--unfixed {
        position: fixed !important;
        top: unset !important;
    }
    [class^="plugin-page-module"] >.headroom-wrapper>.headroom--unpinned>[class^="plugin-sidebar-module--sidebarSearch"]>[class^="plugin-sidebar-module--Results"] {
        max-height: calc(((((100vh - -3.3rem) - 2.5rem) - 2.45rem) - 1.05rem) - 2.8rem) !important;
    }
    [class^="plugin-page-module"] >.headroom-wrapper>.headroom--pinned>[class^="plugin-sidebar-module--sidebarSearch"]>[class^="plugin-sidebar-module--Results"] {
        max-height: calc(((((100vh - -1.58rem) - 2.5rem) - 2.45rem) - 1.05rem) - 2.8rem) !important;
    }
    [class^="plugin-page-module"] >.headroom-wrapper>.headroom--pinned {
        top: 1.8rem !important;
    }
    [class^="plugin-page-module"] >.headroom-wrapper>.headroom--unpinned {
        top: 0 !important;
    }
}
@media (min-width: 850px) {
    [class^="plugin-software-module"] >.headroom-wrapper>.headroom--unfixed {
        position: fixed !important;
        top: unset !important;
    }
    [class^="plugin-software-module"] >.headroom-wrapper>.headroom--unpinned>[class^="plugin-software-module--sidebarSearch"]>[class^="plugin-software-module--Results"] {
        max-height: calc(((((100vh - -3.3rem) - 2.5rem) - 2.45rem) - 1.05rem) - 2.8rem) !important;
    }
    [class^="plugin-software-module"] >.headroom-wrapper>.headroom--pinned>[class^="plugin-software-module--sidebarSearch"]>[class^="plugin-software-module--Results"] {
        max-height: calc(((((100vh - -1.58rem) - 2.5rem) - 2.45rem) - 1.05rem) - 2.8rem) !important;
    }
    [class^="plugin-software-module"] >.headroom-wrapper>.headroom--pinned {
        top: 1.8rem !important;
    }
    [class^="plugin-software-module"] >.headroom-wrapper>.headroom--unpinned {
        top: 0 !important;
    }
}
@media (min-width: 850px) {
    [class^="plugin-tags-module"] >.headroom-wrapper>.headroom--unfixed {
        position: fixed !important;
        top: unset !important;
    }
    [class^="plugin-tags-module"] >.headroom-wrapper>.headroom--unpinned>[class^="plugin-tags-module--sidebarSearch"]>[class^="plugin-tags-module--Results"] {
        max-height: calc(((((100vh - -3.3rem) - 2.5rem) - 2.45rem) - 1.05rem) - 2.8rem) !important;
    }
    [class^="plugin-tags-module"] >.headroom-wrapper>.headroom--pinned>[class^="plugin-tags-module--sidebarSearch"]>[class^="plugin-tags-module--Results"] {
        max-height: calc(((((100vh - -1.58rem) - 2.5rem) - 2.45rem) - 1.05rem) - 2.8rem) !important;
    }
    [class^="plugin-tags-module"] >.headroom-wrapper>.headroom--pinned {
        top: 1.8rem !important;
    }
    [class^="plugin-tags-module"] >.headroom-wrapper>.headroom--unpinned {
        top: 0 !important;
    }
}