@import "variables";

.sidebarSearch {
    background: rgb(251, 250, 252);
    border-right: 1px solid rgb(245, 243, 247);
    order: 0;
    display: block;
    flex: 1;
    @media (min-width: 850px) {
        position: fixed;
        width: 14.8rem;
    }
    .searchContainer {
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid rgb(245, 243, 247);
        .input {
            background: #fff;
            border: 1px solid #e0d6eb;
            border-radius: 4px;
            color: $siteColor;
            display: inline-block;
            font-size: 0.75rem;
            height: 1.85rem;
            padding: 0;
            padding-right: 1.25rem;
            padding-left: 1.25rem;
            margin: 0.55rem 1rem;
            margin-bottom: 0.3rem;
            vertical-align: middle;
            white-space: normal;
            width: calc(100% - 2.1rem);
        }
        .searchOutput {
            color: rgba(0, 0, 0, 0.54);
            font-size: 0.55rem;
            margin: 0 1.05rem;
            //margin-bottom: 0.9em;
        }
    }
    .Results { 
        display: flex;
        flex-direction: column;
        max-height: calc(((((100vh - 1.4rem) - 2.5rem) - 2.45rem) - 1.05rem) - 2.8rem); //28.2
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        @media (min-width: 850px) {
            max-height: calc(((((100vh - 1.42rem) - 2.5rem) - 2.45rem) - 1.05rem) - 2.8rem);
        }
        .resultCard {
            padding: 0.6rem;
            transition: .2s ease-in-out background-color, .2s ease-in-out border-left;
            width: calc(100% - 50px);
            margin: 0 auto;
            background-color: #fff;
            border: 1px solid #ede7f3;
            margin-top: 10px;
            border-radius: 8px;
            border-bottom-left-radius: 0px;
            font-size: 0.67rem;
            position: relative;
            &:hover {
                background-color: rgba($siteColor, 0.3);
            }
            &:last-child {
                margin-bottom: 10px;
            }
            &.active {
                border-left: 4px solid $siteColor;
                background-color: #fff;
                //border-radius: 4px !important;
                .header {
                    .title {
                        color: $siteColor;
                    }
                    .author {
                        color: $siteColor;
                    }
                }
                .description {
                    .p {
                        color: rgba(0, 0, 0, 0.92);
                    }
                }
            }
            @media (min-width: 850px) {
                width: 100%;
                margin: unset;
                border-radius: unset;
                border-bottom-left-radius: unset;
                border: unset;
                border-bottom: 1px solid #ede7f3;
                border-left: 4px solid transparent;
                &.active {
                    border-radius: unset !important;
                    .status {
                        left: 0rem;
                    }
                }
                &:last-child {
                    margin-bottom: unset;
                }
            }
            .header {
                display: flex;
                flex-basis: 100%;
                flex-direction: row;
                justify-content: flex-start;
                margin-bottom: 0.525rem;
                @media (max-width: 330px) {
                    flex-direction: column;
                    .title {
                        margin-top: 2px;
                    }
                }
                .title {
                    flex: 1;
                    font-weight: bold;
                    color: rgba(0, 0, 0, 0.92);
                }
                .author {
                    color: rgba(0, 0, 0, 0.54);
                    font-size: 0.52rem;
                }
            }
            .description {
                display: initial;
                .p {
                    color: rgba(0, 0, 0, 0.54);
                    font-size: 0.75em;
                    line-height: 1.5;
                    margin-bottom: 0.65rem;
                }
            }
            .status {
                position: absolute;
                bottom: 0;
                left: 0;
                background-color: #00b167;
                font-size: 0.4rem;
                color:#fff;
                display: block;
                clip-path: polygon(0% -200%, 100% 115%, 100% 100%, 0% 100%);
                padding: 0.2rem 1rem 0.2rem 0.2rem;            
                &[alt="Outdated"] {
                    background-color: #a70a0a;
                }
                &[alt="Unknown"] {
                    background-color: #005180;
                }
                @media (min-width: 850px) {
                    left: -0.2rem;
                }
            }
            .more {
                display: flex;
                justify-content: flex-end;
                .icon {
                    margin-right: 10px;
                }
            }
        }
        &::-webkit-scrollbar-button { 
            display: none; 
            height: 13px; 
            border-radius: 0px; 
        } 
        &::-webkit-scrollbar-thumb { 
            background-color: rgba($siteColor, 0.3);
            transition: background-color .2s ease-in-out;
        } 
        &::-webkit-scrollbar-thumb:hover { 
            background-color: $siteColor; 
        } 
        &::-webkit-scrollbar-track { 
            background-color: rgba($siteColor, 0.06);
        }
        &::-webkit-scrollbar { 
            width: 8px; 
        }
    }
}

html[class*="dark"], html[id*="dark"] {
    .sidebarSearch {
        background-color: #2f3136;
        border-color: #2f3136;
        .searchContainer {
            border-color: #222327;
            .searchOutput {
                color: #eee;
            }
            .submitDescription {
                color: #eee;
            }
            .input {
                background: rgba(255, 255, 255, 0.1);
                color: #eee;
                border-color: transparent;
                &::placeholder {
                    color: rgba(255, 255, 255, 0.6);
                    font-size: 0.6;
                }
                &:hover {
                    background: rgba(255, 255, 255, 0.07);
                }
                &:active, &:focus {
                    background: rgba(255, 255, 255, 0.05);
                    outline: unset;
                }
            }
        }
        .Results {
            .resultCard {
                background-color: #2f3136;
                border-color: #222327;
                border-left-color: transparent;
                &:hover {
                    background-color: rgba($siteColor, 0.3);
                }
                &.active {
                    border-left: 4px solid $siteColor;
                    background-color: #27292e;
                    //border-radius: 4px !important;
                    .header {
                        .title {
                            color: $siteColor;
                        }
                        .author {
                            color: $siteColor;
                        }
                    }
                    .description {
                        .p {
                            color: rgba(255, 255, 255, 0.92);
                        }
                    }
                }
                .header {
                    .title {
                        color: rgba(255, 255, 255, 0.92);
                    }
                    .author {
                        color: rgba(255, 255, 255, 0.54);
                    }
                }
                .description {
                    display: flex;
                    .p {
                        color: rgba(255, 255, 255, 0.54);
                    }
                    .pMargin {
                        color: rgba(255, 255, 255, 0.54);
                    }
                }
            }
        }
    }
}

[class^="plugin-page-module"] >.headroom-wrapper {
    display: none;
}

@media (min-width: 850px) {
    [class^="plugins-module"] >[class^="headroom-wrapper"]>[class*="headroom--unfixed"] {
        position: fixed !important;
        top: unset !important;
    }
    [class^="plugins-module"] >[class^="headroom-wrapper"]>[class*="headroom--pinned"]>[class^="plugin-sidebar-module--sidebarSearch"]>[class^="plugin-sidebar-module--Results"] {
        max-height: calc(((((100vh - -3.3rem) - 2.5rem) - 2.45rem) - 1.05rem) - 2.8rem) !important;
    }
    [class^="plugins-module"] >[class^="headroom-wrapper"]>[class*="headroom--pinned"]>[class^="plugin-sidebar-module--sidebarSearch"]>[class^="plugin-sidebar-module--Results"] {
        max-height: calc(((((100vh - -1.58rem) - 2.5rem) - 2.45rem) - 1.05rem) - 2.8rem) !important;
    }
    [class^="plugins-module"] >[class^="headroom-wrapper"]>[class*="headroom--pinned"] {
        top: 1.8rem !important;
    }
    [class^="plugins-module"] >[class^="headroom-wrapper"]>[class*="headroom--unpinned"] {
        top: 0 !important;
    }
}
@media (min-width: 850px) {
    [class^="plugin-page-module"] >[class^="headroom-wrapper"] {
        display: initial;
    }
    [class^="plugin-page-module"] >[class^="headroom-wrapper"]>[class*="headroom--unfixed"] {
        position: fixed !important;
        top: unset !important;
    }
    [class^="plugin-page-module"] >[class^="headroom-wrapper"]>[class*="headroom--unpinned"]>[class^="plugin-sidebar-module--sidebarSearch"]>[class^="plugin-sidebar-module--Results"] {
        max-height: calc(((((100vh - -3.3rem) - 2.5rem) - 2.45rem) - 1.05rem) - 2.8rem) !important;
    }
    [class^="plugin-page-module"] >[class^="headroom-wrapper"]>[class*="headroom--pinned"]>[class^="plugin-sidebar-module--sidebarSearch"]>[class^="plugin-sidebar-module--Results"] {
        max-height: calc(((((100vh - -1.58rem) - 2.5rem) - 2.45rem) - 1.05rem) - 2.8rem) !important;
    }
    [class^="plugin-page-module"] >[class^="headroom-wrapper"]>[class*="headroom--pinned"] {
        top: 1.8rem !important;
    }
    [class^="plugin-page-module"] >[class^="headroom-wrapper"]>[class*="headroom--unpinned"] {
        top: 0 !important;
    }
}
@media (min-width: 850px) {
    [class^="plugin-software-module"] >[class^="headroom-wrapper"]>[class*="headroom--unfixed"] {
        position: fixed !important;
        top: unset !important;
    }
    [class^="plugin-software-module"] >[class^="headroom-wrapper"]>[class*="headroom--unpinned"]>[class^="plugin-software-module--sidebarSearch"]>[class^="plugin-software-module--Results"] {
        max-height: calc(((((100vh - -3.3rem) - 2.5rem) - 2.45rem) - 1.05rem) - 2.8rem) !important;
    }
    [class^="plugin-software-module"] >[class^="headroom-wrapper"]>[class*="headroom--pinned"]>[class^="plugin-software-module--sidebarSearch"]>[class^="plugin-software-module--Results"] {
        max-height: calc(((((100vh - -1.58rem) - 2.5rem) - 2.45rem) - 1.05rem) - 2.8rem) !important;
    }
    [class^="plugin-software-module"] >[class^="headroom-wrapper"]>[class*="headroom--pinned"] {
        top: 1.8rem !important;
    }
    [class^="plugin-software-module"] >[class^="headroom-wrapper"]>[class*="headroom--unpinned"] {
        top: 0 !important;
    }
}
@media (min-width: 850px) {
    [class^="plugin-tags-module"] >[class^="headroom-wrapper"]>[class*="headroom--unfixed"] {
        position: fixed !important;
        top: unset !important;
    }
    [class^="plugin-tags-module"] >[class^="headroom-wrapper"]>[class*="headroom--unpinned"]>[class^="plugin-tags-module--sidebarSearch"]>[class^="plugin-tags-module--Results"] {
        max-height: calc(((((100vh - -3.3rem) - 2.5rem) - 2.45rem) - 1.05rem) - 2.8rem) !important;
    }
    [class^="plugin-tags-module"] >[class^="headroom-wrapper"]>[class*="headroom--pinned"]>[class^="plugin-tags-module--sidebarSearch"]>[class^="plugin-tags-module--Results"] {
        max-height: calc(((((100vh - -1.58rem) - 2.5rem) - 2.45rem) - 1.05rem) - 2.8rem) !important;
    }
    [class^="plugin-tags-module"] >[class^="headroom-wrapper"]>[class*="headroom--pinned"] {
        top: 1.8rem !important;
    }
    [class^="plugin-tags-module"] >[class^="headroom-wrapper"]>[class*="headroom--unpinned"] {
        top: 0 !important;
    }
}