@import "variables";

.reasons {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 1.875rem 1.56rem;
    position: relative;
    @media (min-width: 850px) {
        padding: 1.875rem 2rem;
    }
    .firstWrapper {
        display: block;
        @media (min-width: 850px) {
            display: flex;
            justify-content: space-between;
        }
        .firstContainer {
            flex-basis: 34%;
            .header {
                font-size: 0.6rem;
                text-align: left;
                margin-bottom: 20px;
                color: #c0c0c0;
                &::after {
                    content: "";
                    display: block;
                    width: 5%;
                    height: 2px;
                    background-color: $siteColor;
                    opacity: 1;
                    position: relative;
                    top: -2px;
                }
            }
            .title {
                color: #3f3f3f;
                font-size: 1.3rem;
                line-height: 1.35em;
            }
            .description {
                color: #929292;
                margin-top: 10px;
                line-height: 1.45em;
                font-size: 0.67rem;
                a {
                    display: inline-block;
                    transition: color 250ms, text-shadow 250ms;
                    color: #000;
                    text-decoration: none;
                    cursor: pointer;
                    position: relative;
                    z-index: 0;
                    line-height: 1rem;

                    &:after {
                    position: absolute;
                    z-index: -1;
                    bottom: -1px;
                    left: 50%;
                    transform: translateX(-50%);
                    content: '';
                    width: 100%;
                    height: 3px;
                    background-color: $siteColor;
                    transition: all 250ms;
                    }

                    &:hover {
                        color: #fff;
                        opacity: 1;
                        background-color: transparent;
                        &::after {
                            height: 110%;
                            width: 110%;
                        }
                    }
                }
            }
            .unimportantBtn {
                display: inline-block;
                transition: color 250ms, text-shadow 250ms;
                color: #000;
                text-decoration: none;
                cursor: pointer;
                position: relative;
                z-index: 0;
                line-height: 1rem;
                margin-top: 15px;

                &:after {
                position: absolute;
                z-index: -1;
                bottom: -1px;
                left: 50%;
                transform: translateX(-50%);
                content: '';
                width: 100%;
                height: 3px;
                background-color: $siteColor;
                transition: all 250ms;
                }

                &:hover {
                    color: #fff;
                    opacity: 1;
                    background-color: transparent;
                    &::after {
                        height: 110%;
                        width: 110%;
                    }
                }
            }
        }
        .secondContainer {
            flex-basis: 50%;
            margin-top: 25px;
                @media (min-width: 850px) {
                    margin-top: 0px;
                }
            img {
                margin: 0 auto;
                display: -webkit-box;
            }
        }
    }
    .secondWrapper {
        display: block;
        @media (min-width: 850px) {
            display: flex;
            flex-direction: column;
            margin-top: 10px;
        }
        .header {
            font-size: 0.6rem;
            text-align: left;
            margin-bottom: 20px;
            color: #c0c0c0;
            &::after {
                content: "";
                display: block;
                width: 3%;
                height: 2px;
                background-color: $siteColor;
                opacity: 1;
                position: relative;
                top: -2px;
            }
        }
        .cardContainer {
            display: block;
            margin-top: 10px;
            @media (min-width: 850px) {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
            }
            .card {
                border: 1px solid #eee;
                border-radius: 10px;
                border-bottom-left-radius: 0px;
                margin-bottom: 17px;
                -webkit-transition-duration: 800ms;
                -o-transition-duration: 800ms;
                transition-duration: 800ms;
                display: block;
                @media (min-width: 850px) {
                    flex-basis: 28%;
                }
                .title {
                    color: #ffffff;
                    font-weight: bold;
                    background-color: #242529;
                    border-radius: 10px;
                    border-bottom-left-radius: 0px;
                    border-bottom-right-radius: 0px;
                    display: -webkit-box;
                    padding: 0.3rem 0.9rem;
                    font-size: 0.7rem;
                    -webkit-transition-duration: 800ms;
                    -o-transition-duration: 800ms;
                    transition-duration: 800ms;
                }
                .excerpt {
                    color: #262626;
                    padding: 0.7rem;
                    /* padding: 19px; */
                    font-size: 0.67rem;
                    line-height: 0.9rem;
                }
                &:hover {
                    box-shadow: 0 10px 90px rgba(0,0,0,.08);
                }
                &:active, &:focus {
                    background-color: #ebebeb;
                    outline: unset;
                    .title { 
                        opacity: 0.8;
                    }
                }
            }
        }
    }
}

.bottomWave {
    svg {
        position: absolute;
        bottom: -6.76rem;
        left: 0;
        right: 0;
        width: 100%;
        @media (min-width: 850px) {
            bottom: -9rem;
        }
    }
}
.topWave {
    svg {
        position: absolute;
        top: -5px;
        left: 0;
        transform: rotate(180deg);
        right: 0;
        width: 100%;
        z-index: 4;
        fill: $siteColor;
        .blob {
            -webkit-animation-play-state: running;
            animation-play-state: running;
            animation: blobAnimation 75s linear infinite alternate;
        }
    }
}

html[class*="dark"], html[id*="dark"] {
    .reasons {
        background-color: #18191c;
        .firstWrapper {
            .firstContainer {
                .header {
                    color: #c0c0c0;
                }
                .title {
                    color: #f1f1f1;
                }
                .description {
                    color: #b9bbbe;
                    a {
                        color: #fff;
                    }
                }
                .unimportantBtn {
                    color: #fff;
                }
            }
        }
        .secondWrapper {
            .header {
                color: #c0c0c0;
            }
            .cardContainer {
                .card {
                    border: 1px solid #242529;
                    background-color: #2b2c2f;
                    .title {
                        color: #ffffff;
                        background-color: $siteColor;
                    }
                    .excerpt {
                        color: #b9bbbe;
                    }
                    &:hover {
                        box-shadow: 0 10px 90px rgba(0, 0, 0, 0.3);
                    }
                    &:active, &:focus {
                        background-color: #171718;
                    }
                }
            }
        }
    }
}
@keyframes blobAnimation {
0% {
  d: path("M140.881198,194.260295 C257.600568,129.32862 342.939626,119.84993 418.009939,203.154617 C493.080251,286.459305 545.728689,70.9046172 636.439626,63.9593047 C727.150564,57.0139922 768.99822,139.670242 858.802907,119.431961 C948.607595,99.1936797 1071.91228,-32.9977266 1243.91228,7.75227342 C1415.91228,48.5022734 1404.10369,208.584305 1508.27166,178.709305 C1612.43963,148.834305 1633.73291,79.913472 1711.63588,98.8569055 C1776.28676,114.577866 1819.96778,221.391836 1889.37253,185.808108 C2017.32661,120.206212 2004.01952,336.769569 2004.01952,336.769569 L271.635881,337 L-149.063338,337 C-149.063338,337 -245.850307,175.637635 -58.0633382,228.867188 C33.8652851,254.92501 64.1722713,236.933925 140.881198,194.260295 Z"); }
50% {
  d: path("M-60.13579,199.189799 C-33.8674767,-71.7287911 170.194454,11.9640675 274.985105,83.0972992 C379.775756,154.230531 409.072181,161.653171 521.54913,124.460269 C634.026079,87.2673683 645.348165,219.42808 735.152853,199.189799 C824.95754,178.951518 948.262228,46.7601116 1120.26223,87.5101116 C1292.26223,128.260112 1309.89513,321.347957 1414.0631,291.472957 C1518.23106,261.597957 1580.53259,89.5639434 1732.07052,88.5665294 C1892.57296,87.5101116 1897.70372,225.708266 2049.59054,199.189799 C2201.47736,172.671332 2002.94707,336.794682 2002.94707,336.794682 L270.563429,337.025114 L-60.13579,337.025114 C-60.13579,337.025114 -469.886827,134.917309 -282.099858,188.146862 C-190.171235,214.204685 -65.9645849,259.30515 -60.13579,199.189799 Z"); }
to {
  d: path("M-160.553381,263.533987 C-124.4955,243.377988 -18.6139605,181.080724 56.456352,264.385412 C131.526664,347.690099 165.148428,226.409513 223.668826,168.5 C282.189224,110.590487 372.68516,208.331261 462.489847,188.09298 C552.294535,167.854699 723.262827,-40.1656225 847.424394,40.7522734 C971.58596,121.670169 1156.59375,252.295176 1300.40314,228.958726 C1444.21253,205.622277 1478.90991,106.221579 1563.51957,124.699258 C1655.80276,144.85274 1595.69955,250.007434 1832.41793,206.740235 C2069.1363,163.473036 2002.94707,336.794682 2002.94707,336.794682 L270.563429,337.025114 L-60.13579,337.025114 C-60.13579,337.025114 -495.794798,256.512987 -308.007829,309.74254 C-216.079206,335.800362 -208.740043,290.469854 -160.553381,263.533987 Z"); } 
}