@import "variables";

.reasons {
    display: flex;
    flex-direction: column;
    padding: 1.875rem 1.56rem;
    @media (min-width: 850px) {
        padding: 1.875rem 2rem;
    }
    .firstWrapper {
        display: block;
        @media (min-width: 850px) {
            display: flex;
            justify-content: space-between;
        }
        .firstContainer {
            flex-basis: 34%;
            .header {
                font-size: 0.6rem;
                text-align: left;
                margin-bottom: 20px;
                color: #c0c0c0;
                &::after {
                    content: "";
                    display: block;
                    width: 5%;
                    height: 2px;
                    background-color: $siteColor;
                    opacity: 0.8;
                    position: relative;
                    top: -2px;
                }
            }
            .title {
                color: #3f3f3f;
                font-size: 1.3rem;
                line-height: 1.35em;
            }
            .description {
                color: #929292;
                margin-top: 10px;
                line-height: 1.45em;
                font-size: 0.67rem;
                a {
                    border-bottom: 1px solid rgba($siteColor, 0.3);
                    box-shadow: inset 0 -2px 0px 0px rgba($siteColor, 0.4);
                    color: rgba(0, 0, 0, 0.88);
                    font-weight: bold;
                    transition: .1s linear background-color, .1s linear box-shadow, .1s linear border-bottom;
                    &:hover {
                        background-color: rgba($siteColor, 0.3);
                        border-bottom: 1px solid transparent;
                        box-shadow: inset 0 -2px 0px 0px transparent;
                    }
                }
            }
            .unimportantBtn {
                border-bottom: 1px solid rgba($siteColor, 0.3);
                box-shadow: inset 0 -2px 0px 0px rgba($siteColor, 0.4);
                color: rgba(0, 0, 0, 0.88);
                font-weight: bold;
                margin-top: 15px;
                font-size: 0.77rem;
                transition: .1s linear background-color, .1s linear box-shadow, .1s linear border-bottom;
                position: relative;
                top: 20px;
                transition: 500ms ease-in-out;
                &:hover {
                    background-color: rgba($siteColor, 0.3);
                    border-bottom: 1px solid transparent;
                    box-shadow: inset 0 -2px 0px 0px transparent;
                }
            }
        }
        .secondContainer {
            flex-basis: 50%;
            margin-top: 25px;
                @media (min-width: 850px) {
                    margin-top: 0px;
                }
            img {
                margin: 0 auto;
                display: -webkit-box;
            }
        }
    }
    .secondWrapper {
        display: block;
        @media (min-width: 850px) {
            display: flex;
            flex-direction: column;
            margin-top: 10px;
        }
        .header {
            font-size: 0.6rem;
            text-align: left;
            margin-bottom: 20px;
            color: #c0c0c0;
            &::after {
                content: "";
                display: block;
                width: 3%;
                height: 2px;
                background-color: $siteColor;
                opacity: 0.8;
                position: relative;
                top: -2px;
            }
        }
        .cardContainer {
            display: block;
            margin-top: 10px;
            @media (min-width: 850px) {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
            }
            .card {
                border: 1px solid #eee;
                border-radius: 10px;
                border-bottom-left-radius: 0px;
                margin-bottom: 17px;
                -webkit-transition-duration: 800ms;
                -o-transition-duration: 800ms;
                transition-duration: 800ms;
                display: block;
                @media (min-width: 850px) {
                    flex-basis: 28%;
                }
                .title {
                    color: #ffffff;
                    font-weight: bold;
                    background-color: #262626;
                    border-radius: 10px;
                    border-bottom-left-radius: 0px;
                    border-bottom-right-radius: 0px;
                    display: -webkit-box;
                    padding: 0.3rem 0.9rem;
                    font-size: 0.7rem;
                    -webkit-transition-duration: 800ms;
                    -o-transition-duration: 800ms;
                    transition-duration: 800ms;
                }
                .excerpt {
                    color: #262626;
                    padding: 0.7rem;
                    /* padding: 19px; */
                    font-size: 0.67rem;
                    line-height: 0.9rem;
                }
                &:hover {
                    -webkit-box-shadow: 0 10px 90px rgba(0, 0, 0, 0.08);
                    box-shadow: 0 10px 90px rgba(0, 0, 0, 0.08);
                }
                &:active, &:focus {
                    background-color: #ebebeb;
                    outline: unset;
                    .title { 
                        opacity: 0.8;
                    }
                }
            }
        }
    }
}