@import "variables";

html[class*="dark"], html[id*="dark"] {
    .featuredSection {
        background-color: #222327;
        .container {
            &::after {
                content: "";
                background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, #222327 100%);
            }
            .cardWrapper {
                background-color: #202225;
                border-color: #202225;
                &:hover {
                    box-shadow: unset;
                }
                .title {
                    color: #eee;
                }
                &:hover {
                    .title {
                        color: $siteColor;
                    }
                }
                &:last-child {
                    .imgWrapper {
                        border-color: #131318;
                        background-color: #131318;
                    }
                }
                @media (min-width: 850px) {
                    background-color: transparent;
                }
            }
        }
    }
}