@import "variables";

[alt="Upload a Theme"] {
    ~.content {
        max-height: calc(((((100vh - 2.9rem) - 2.5rem) - 2.45rem) - 1.05rem) - 2.8rem);
        @media (min-width: 850px) {
            max-height: calc(((((100vh - 2.5rem) - 2.5rem) - 2.45rem) - 1.05rem) - 2.8rem);
        }
    }
}

html[class*="dark"], html[id*="dark"] {
    .themesContainer {
        background-color: #36393f;
        .contentSection {
            .titleBar {
                background-color: #36393f;
                box-shadow: 0 1px 0 rgba(0,0,0,.2), 0 2px 0 rgba(0,0,0,.06);
                border-color: #36393f;
            }
            .help {
                color: #fff;
                opacity: 0.5;
                &:hover {
                    opacity: 1;
                    color: #fff;
                }
            }
            .upload {
                svg {
                    fill: #fff;
                }
            }
            .input {
                background: rgba(255, 255, 255, 0.1);
                color: #eee;
                &::placeholder {
                    color: rgba(255, 255, 255, 0.6);
                    font-size: 0.6;
                }
                &:hover {
                    background: rgba(255, 255, 255, 0.07);
                }
                &:active, &:focus {
                    background: rgba(255, 255, 255, 0.05);
                }
            }
        }
        .mainContent {
            background-color: #36393f;
            @media (min-width: 850px) {
                background-color: #36393f;
            }
            .wrapper {
                .cardWrapper {
                    background-color: #202225;
                    border-color: #202225;
                    &:hover {
                        box-shadow: unset;
                    }
                    .author {
                        color: rgba(255, 255, 255, 0.4) !important;
                    }
                    .title {
                        .titleLink {
                            color: rgba(255, 255, 255, 0.9);
                        }
                    }
                    .description, .descriptionAlt {
                        color: #b9bbbe;
                    }
                    .tagContainer {
                        .tag {
                            color: rgba(255,255, 255, 0.4) !important;
                            &:hover {
                                color: #fff !important;
                            }
                        }
                    }
                    @media (min-width: 850px) {
                        background-color: transparent;
                    }
                }
            }
        }
    }
}

@keyframes context-open-new {
    0% {
      transform: scale(1, 0.8); } 
  }
@keyframes opacity {
from {
    opacity: 0; } 
}