[class^="themes-module"] >.headroom-wrapper>.headroom--pinned {
    top: 3rem !important;
}
[class^="themes-module"] >.headroom-wrapper>.headroom {
    z-index: 3 !important;
}
@media (min-width: 850px) {
    [class^="themes-module"] >.headroom-wrapper {
        display: contents;
        width: 100%;
    }
    [class^="themes-module"] >.headroom-wrapper>.headroom--pinned {
        top: 1.8rem !important;
        position: sticky !important;
    }
    [class^="themes-module"] >.headroom-wrapper>.headroom--unpinned {
        position: sticky !important;
        top: 0 !important;
        transform: unset !important;
    }
    [class^="themes-module"] >.headroom-wrapper>.headroom--unfixed {
        position: sticky !important;
        top: 3.04rem !important;
        transform: unset !important;
    }
}