.themesPageContainer {
    display: block;
    flex-direction: column;
    @media (min-width: 850px) {
        display: flex;
        flex-direction: row;
    }
    .contentWrapper {
        order: 1;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        @media (min-width: 850px) {
            flex: 3;
        }
        .content {
            display: flex;
            order: 3;
            flex-direction: column;
            overflow: hidden;
            overflow-y: auto;
            -webkit-overflow-scrolling: touch;
            max-height: 100%; //26em
            padding-bottom: 3.1rem;
            @media (min-width: 850px) {
                max-height: calc(((((100vh - 9.5rem) - 2.5rem) - 2.45rem) - 1.05rem) - 2.8rem);
                padding-bottom: unset;
            }
            &::-webkit-scrollbar-button {
                display: none;
                height: 13px;
                border-radius: 0px;
            }
            &::-webkit-scrollbar-thumb {
                background-color: rgba(#339b78, 0.3);
                transition: background-color .2s ease-in-out;
            }
            &::-webkit-scrollbar-thumb:hover {
                background-color: #339b78;
            }
            &::-webkit-scrollbar-track {
                background-color: rgba(#339b78, 0.06);
            }
            &::-webkit-scrollbar {
                width: 8px;
            }
            a:not(.author):not(.titleLink):not([class="anchor"]) {
                border-bottom: 1px solid rgba(51, 155, 120, 0.3);
                box-shadow: inset 0 -2px 0px 0px rgba(51, 155, 120, 0.4);
                color: rgba(0, 0, 0, 0.88);
                font-weight: bold;
                transition: .1s linear background-color, .1s linear box-shadow, .1s linear border-bottom;
            }
            a:hover:not([class="anchor"]) {
                background-color: rgba(51, 155, 120, 0.3);
                border-bottom: 1px solid transparent !important;
                box-shadow: inset 0 -2px 0px 0px transparent !important;
            }
            .mdWrapper {
                margin: 0 auto;
                padding-top: 2.1rem;
                /*padding-bottom: 2.1rem;*/
                word-break: break-all;
                flex-direction: row;
                flex-wrap: unset;
                width: calc(100% - 75px);
                display: block;
                @media (min-width: 850px) {
                    width: calc(100% - 300px);
                    display: flex;
                    flex-direction: column;
                }
                .imgContainer {
                    border: unset !important;
                    box-shadow: unset !important;
                    margin-bottom: 20px;
                    &:hover {
                        background-color: transparent;
                    }
                    .img {
                        margin: 0 auto;
                        width: calc(100% - 80px);
                        display: block;
                    }
                }
                .childWrapper {
                    display: block;
                    word-break: break-word;
                }
            }
            .footer {
                display: flex;
                border-top: 1px solid #f5f3f7;
                flex-direction: row;
                .date {
                    flex: 1;
                    margin-top: 25px;
                    margin-bottom: 25px;
                    color: #3a3a3a;
                }
                .edit {
                    margin-top: 25px;
                    opacity: 0.7;
                    border-color: transparent !important;
                    box-shadow: 0px 0px transparent !important;
                    margin-bottom: 25px;
                    display: -webkit-inline-box;
                    svg {
                        height: 15px;
                        width: 15px;
                        margin-right: 8px;
                    }
                }
            }
        }
    }
}

.backButton {
    position: fixed;
    top: 22px;
    left: 17px;
    z-index: 100;
    display: block;
    @media (min-width: 850px) {
        display: none;
    }
    svg {
        height: 20px;
        width: 20px;
    }
}

[alt="Upload a Theme"] {
    /*display: none !important;*/
    ~.content {
        max-height: calc(((((100vh - 2.9rem) - 2.5rem) - 2.45rem) - 1.05rem) - 2.8rem) !important;
        @media (min-width: 850px) {
            max-height: calc(((((100vh - 2.5rem) - 2.5rem) - 2.45rem) - 1.05rem) - 2.8rem) !important;
        }
        /*.edit {
            margin-bottom: unset;
            @media (min-width: 850px) {
                margin-bottom: -25px;
            }
        }*/
    }
}