@import "variables";

html[class*="dark"], html[id*="dark"] {
    .heroPlugins, .heroThemes {
        border-color: #222327;
        .container {
            .h2 {
                color: #eee;
            }
            .detailsWrapper {
                .p {
                    a {
                        color: rgba(255, 255, 255, 0.7);
                        &:hover {
                            color: #fff;
                        }
                    }
                }
            }
            .detailsContainer {
                .gitContainer {
                    &::after {
                        content: "|";
                        color: #222327;
                        position: relative;
                        top: 2px;
                        left: 5px;
                    }
                }
                .gitlabContainer {
                    &::after {
                        content: "|";
                        color: #222327;
                        position: relative;
                        top: 2px;
                        left: 5px;
                    }
                }
                .npmContainer {
                    &::after {
                        content: "|";
                        color: #222327;
                        position: relative;
                        top: 2px;
                        left: 5px;
                    }
                }
                .discordContainer {
                    &::after {
                        content: "|";
                        color: #222327;
                        position: relative;
                        top: 2px;
                        left: 5px;
                    }
                }
                .tagContainer {
                    
                }
            }
            .softwareContainer {
                .software {
                    background-color: #2f3136;
                    border-color: #2f3136;
                    color: rgba(255, 255, 255, 0.85);
                }
            }
            .statusContainer {
                .status {
                    div {
                    }
                }
            }
        }
        .options {
            .demoBtn {
                background-color: #36393f;
                &:hover {
                    color: darken($siteColor, 7%);
                    border: 1px solid $siteColor;
                }
                &:active, &:focus {
                    background-color: $siteColor;
                    border: 1px solid $siteColor;
                    color: #fff;
                    opacity: 1;
                }
                &[alt="disabled"] {
                    border-color: grey;
                    color: #fff;
                    background-color: grey;
                    &:hover {
                        background-color: grey;
                        color: #eee;
                    }
                    &:active, &:focus {
                        opacity: 0.8;
                        background-color: grey;
                        color: #fff;
                    }
                }
            }
        }
    }
}

@keyframes float {
    0% {
        transform: translate(0,0);
    }
    50% {
        transform: translate(0px,-5px);
    }
    100% {
        transform: translate(0,0);
    }
}