@import "variables";

html[class*="dark"], html[id*="dark"] {
    .themesPageContainer {
        background-color: #36393f;
        .contentWrapper {
            .content {
                color: #cfcfcf;
                pre {
                    padding: 1rem;
                    line-height: 0.8rem;
                    background-color: rgba(#000, 0.2);
                    code {
                        line-height: 0.8rem;
                        background-color: transparent;
                    }
                }
                code {
                    background-color: rgba(#000, 0.2);
                }
                a {
                    color: #fff !important;
                }
                .footer {
                    border-color: #222327;
                    .edit {
                        svg {
                            fill: #fff;
                        }
                    }
                }
                [class="anchor"] {
                    fill: #fff;
                }
            }
        }
    }
}